# Flask Book Exchange Application Dependencies
Flask
Flask-MySQLdb
matplotlib
mysqlclient
python-dotenv
bcrypt

# Security Dependencies
cryptography

# Production Dependencies
gunicorn

# Development Dependencies (optional)
flask-debugtoolbar
