<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<h1>Search Results</h1>
	<h3>Go back to <a href="{{ url_for('home', name = session['name'], user_id = session['id']) }}">Home</a>.</h3>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
	<style>
		a:link, a:visited {
		  background-color: #f9e4b7;
		  color: white;
		  padding: 10px 20px;
		  border-radius: 12px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  border: 2px solid black;
		  color: black;
		}

		a:hover, a:active {
		  background-color: #cfb997;
		}
	</style>
</head>
<body>
	{% for result in search_results %}
		<p><a href="{{ url_for('ubook_page', unique_id = result['unique_id']) }}">{{ result['name']}} by {{ result['author'] }}</a></p>
	{% endfor %}
</body>
</html>
